---
layout: base
title: qwertyuiop.ninja
---
{% for post in paginator.posts %}
<article class="text">
  <div class="date"><a href="{{post.url}}">Posted {{post.date|date_to_string}}</a></div>
  <div class="headline">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
  </div>
  <div class="caption">
      {{post.excerpt}}
  </div>
</article>
{% endfor %}

<div class="pagination">
{% if paginator.previous_page_path %}
    <a href="{{ paginator.previous_page_path }}" class="prevPage">Previous</a>
{% endif %}
{% if paginator.next_page_path %}
    <a href="{{ paginator.next_page_path }}" class="nextPage">Next</a>
{% endif %}
</div>
