---
layout: base
seo:
  type: BlogPosting
---
<article class="{{page.articleclass}}">
    
	<div class="date"><a href="{{page.url}}">Posted {{page.date|date_to_string}}</a></div>

	{{content}}

    <div class="postBase">
        {% if tags %}
        <ul class="tags">
        {% for tag in tags %}
            <li><a href="">#{{tag}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</article>

<div class="pagination">
{% if page.previous %}
    <a href="{{ page.previous.url }}" class="prevPage">Previous</a>
{% endif %}
{% if page.next %}
    <a href="{{ page.next.url }}" class="nextPage">Next</a>
{% endif %}
</div>
