---
layout: base
---
<article class="{{page.articleclass}}">
    
	<div class="date"><a href="{{page.url}}">Posted {{page.date}}</a></div>

	{{content}}

    <div class="postBase">
        {% if tags %}
        <ul class="tags">
        {% for tag in tags %}
            <li><a href="">#{{tag}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if page %}
        <div class="socialButtons">
            <div class="my-like" data-reblog="{ReblogURL}" data-id="{PostID}" title="Like">&nbsp;</div>
            <a href="{ReblogURL}" class="reblog">&nbsp;</a>
            <a href="http://www.facebook.com/share.php?u={ShortURL}&title={{ page.title }}" class="facebook">&nbsp;</a>
            <a href="http://twitter.com/home?status={{ page.title }}+{ShortURL}+@qninja" class="twitter">&nbsp;</a>
            <a href="https://plus.google.com/share?url={ShortURL}" class="googleplus">&nbsp;</a>
            <a href="http://www.stumbleupon.com/submit?url={ShortURL}&title={{ page.title }}" class="stumble">&nbsp;</a>
        </div>
        {% endif %}
    </div>
</article>

<article class="commentBox"><div id="disqus_thread"></div></article>
<script type="text/javascript" src="http://disqus.com/forums/qwertyuiopninja/embed.js"></script>
<noscript><a href="http://qwertyuiopninja.disqus.com/?url=ref">View the discussion thread</a></noscript>
